In [33]:
import pandas as pd
import numpy as np

In [2]:
startups = pd.read_csv('startups.csv')

In [3]:
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

   cars_per_cap        country drives_right
0           809  United States         True
1           731      Australia        False
2           588          Japan        False
3            18          India        False
4           200         Russia         True
5            70        Morocco         True
6            45          Egypt         True

In [5]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)
#print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False
IN             18          India        False
RU            200         Russia         True
MOR            70        Morocco         True
EG             45          Egypt         True

In [6]:
cars.describe()

       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, US to EG
Data columns (total 3 columns):
cars_per_cap    7 non-null int64
country         7 non-null object
drives_right    7 non-null bool
dtypes: bool(1), int64(1), object(1)
memory usage: 175.0+ bytes

In [8]:
cars

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False
IN             18          India        False
RU            200         Russia         True
MOR            70        Morocco         True
EG             45          Egypt         True

In [9]:
cars["country"]

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [10]:
type(cars["country"])

pandas.core.series.Series

In [11]:
cars[["country"]]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [12]:
type(cars[["country", "cars_per_cap"]])

pandas.core.frame.DataFrame

In [13]:
cars[["country", "cars_per_cap"]]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JAP          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [14]:
cars[0:2]

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False

In [15]:
cars.loc[['US', 'IN'], ['country', 'cars_per_cap']]

          country  cars_per_cap
US  United States           809
IN          India            18

In [16]:
cars.loc[:, ['country', 'cars_per_cap']]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JAP          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [17]:
cars

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False
IN             18          India        False
RU            200         Russia         True
MOR            70        Morocco         True
EG             45          Egypt         True

In [18]:
cars[0:3]

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False

In [19]:
cars[["country"]]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [20]:
cars["country"]

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [21]:
cars.loc[["US", "IN"]]

    cars_per_cap        country drives_right
US           809  United States         True
IN            18          India        False

In [22]:
cars.loc[:, ["country", "cars_per_cap"]]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JAP          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [23]:
cars.loc[["US", "IN"], ["country"]]

          country
US  United States
IN          India

In [24]:
cars

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False
IN             18          India        False
RU            200         Russia         True
MOR            70        Morocco         True
EG             45          Egypt         True

In [25]:
cars.iloc[[0,2]]

     cars_per_cap        country drives_right
US            809  United States         True
JAP           588          Japan        False

In [26]:
cars.iloc[[0,2], [1, 2]]

           country drives_right
US   United States         True
JAP          Japan        False

In [27]:
cars.iloc[:, [1, 2]]

           country drives_right
US   United States         True
AUS      Australia        False
JAP          Japan        False
IN           India        False
RU          Russia         True
MOR        Morocco         True
EG           Egypt         True

In [30]:
cars['cars_per_cap'] > 500

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [31]:
is_huge = cars['cars_per_cap'] > 500

In [32]:
cars[is_huge]

     cars_per_cap        country drives_right
US            809  United States         True
AUS           731      Australia        False
JAP           588          Japan        False

In [36]:
np.logical_and(cars['cars_per_cap'] < 200, cars['drives_right'] == True)

US     False
AUS    False
JAP    False
IN     False
RU     False
MOR     True
EG      True
Name: cars_per_cap, dtype: bool

In [37]:
cars[np.logical_and(cars['cars_per_cap'] < 200, cars['drives_right'] == True)]

     cars_per_cap  country drives_right
MOR            70  Morocco         True
EG             45    Egypt         True

In [39]:
for lab, row in cars.iterrows():
    print("In {0}, we have {1}".format(lab, row['country']))

In US, we have United States
In AUS, we have Australia
In JAP, we have Japan
In IN, we have India
In RU, we have Russia
In MOR, we have Morocco
In EG, we have Egypt

In [41]:
for lab, row in cars.iterrows():
    cars.loc[lab, 'name_length'] = int(len(row['country']))
cars

     cars_per_cap        country drives_right  name_length
US            809  United States         True         13.0
AUS           731      Australia        False          9.0
JAP           588          Japan        False          5.0
IN             18          India        False          5.0
RU            200         Russia         True          6.0
MOR            70        Morocco         True          7.0
EG             45          Egypt         True          5.0

In [42]:
cars['name_length2'] = cars['country'].apply(len)
cars

     cars_per_cap        country drives_right  name_length  name_length2
US            809  United States         True         13.0            13
AUS           731      Australia        False          9.0             9
JAP           588          Japan        False          5.0             5
IN             18          India        False          5.0             5
RU            200         Russia         True          6.0             6
MOR            70        Morocco         True          7.0             7
EG             45          Egypt         True          5.0             5